#game {
  display: flex;
  flex-wrap: wrap;
}

#game > div {
  width: 400px;
  height: 400px;

  max-width: 100vw;
  max-height: 100vw;
}

#reference-sequence > div {
  background: lightgrey;
  transition: 500ms ease-in;
}

#reference-sequence > div.highlighted {
  background: red;
}